* {
    font-weight: 200;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #8cc6ec, #9599e2);
}

body form {
    display: flex;
    height: 85vh;
    width: 80vw;
    margin: auto;
    margin-top: 7.5vh;
}

form .block {
    height: 100%;
    width: 50%;
}

form section:nth-of-type(1) {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: white;
}

form section:nth-of-type(2) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #4f54d4;
}
select :active {
    outline: none;
}

section {
    padding: 30px;
}

section h1 {
    color: #2a64bd;
    padding: 25px;
    padding-top: 0;
    padding-left: 0;
}

section:nth-of-type(2) h1 {
    color: white;
}

section:nth-of-type(2) input,
section:nth-of-type(2) select {
    color: #e7e2fe;
    border-bottom: 1px solid #6a60ec;
}

section:nth-of-type(2) ::placeholder {
    color: #e7e2fe;
}

section input,
select {
    color: #757575;
    height: 45px;
    border: none;
    border-bottom: 1px solid #dddddd;
    border-radius: 0;
    background-color: transparent;
    padding-left: 10px;
    margin-bottom: 5px;
    width: 100%;
}

section input::placeholder {
    color: #757575;
}

section input.identite,
select.identite {
    width: 47%;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    background-color: white;
    margin-top: 15px;
}

label {
    display: inline-block;
    padding-top: 10px;
    padding-left: 15px;
    width: 60%;
    color: #b7aaee;
}

input.identite:nth-of-type(1) {
    margin-right: 5%;
}

input#busness {
    width: 54%;
}

select.identite {
    width: 40%;
    margin-left: 5%;
}

input.minis {
    width: 30%;
    margin-right: 4%;
}
input:focus,select:focus {
    outline: none;
}
input.big,
select.big {
    width: 65%;
}

button {
    font-weight: 600;
    border: none;
    padding: 15px;
    margin-top: 25px;
    border-radius: 25px;
}

button:active {
    border-radius: 25px;
}

section:nth-of-type(2) option {
    background-color: #4f54d4;
}

option {
    height: auto;
}

option::before {
    content: '';
    height: 10px;
    width: 100%;
    background-color: red;
}
